html {
    font-size: 62.5%; // 10px = 1rem
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $s-size;
    background-color: white;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}